.boxx {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 


   background-color: rgb(140, 255, 127);
  height: 100px;
  
  }

  .boxx > div {
  background-color: aquamarine;
  font-size: medium;
  text-align: center;
  font-style: normal;
  line-height: 50px;
  width: 300px;
  margin: 10px;
 }

 .uno {
  flex-shrink: 0;
 }

 .dos {
  flex-grow: 1;
  flex-basis: 700px;
 }

 .tres {
  flex-grow: 1;
 }
