@media (max-width: 768px) {
    body {
        background-color: blue;
    }
}




.boxx {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;



    background-color: rgb(140, 255, 127);
    height: 100px;

}

.boxx>div {
    background-color: aquamarine;
    font-size: medium;
    text-align: center;
    font-style: normal;
    line-height: 50px;
    width: 300px;
    margin: 10px;
}

.uno {
    flex-shrink: 0;
    align-self: baseline;
}

.dos {
    flex-grow: 1;
    flex-basis: 700px;
}

.tres {
    flex-grow: 1;
    align-self: flex-end;
}



.grid-container {
    gap: 10px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 20px;
    background-color: rgba(113, 18, 245, 0.8);
    padding: 5px;
    font-size: 30px;

}

.cell {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #0bd1fd;
    padding: 10px;
    background-color: #580473;
    font-size: medium;
    color: aliceblue;
    font-weight: 400;
}


.cell.merged {
    display: flex;
    grid-column: span 2;

}